.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

span {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
    color: #fff;
}

.content {
    padding: 16px;
    background-color: #fff;
}

